
.fError, .fSuccess {
    font-size: 125%;
    text-align: center;
    position: relative;
    top: -10px;
}

.fError {
    color: #c00;
}

.fSuccess {
    color: #0c0;
}

.navbar-header {
    /*float: center;*/
    height: 53px;
    padding: 5px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
    /*float:center;*/
  font-size: 48px;
   color: blue;
}