.navbar-header {
    /*float: center;*/
    padding: 15px;
    text-align: center;
    width: 100%;
    min-height: 1200px;
    min-width: 950px;
}
.navbar-brand {
    /*float:center;*/
  color: rgb(0, 153, 0);
}