<!DOCTYPE html>

<html>
<head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

    <script src="/public/js/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap-3.3.6.min.js"></script>

    {{range .moreStyles}}
    <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}


    {{range .moreScripts}}
    <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
    <link rel="stylesheet" type="text/css" href="/public/css/custom.css">


</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand"  href="/">TrainTrack</a>

        {{if .user}}
        <ul class="nav navbar-nav">

            <li><a href="/logout">Logout</a></li>

            <li> <a href="{{url "Map.Settings"}}">Settings</a></li>
            </ul>
        {{end}}
    </div>


    <!-- /.container-fluid -->
</nav>